* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    padding: 30px;
    width: 100%;
    margin-top: 30px;
    background-color: #f8f9fa;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#text {
    margin-top: 30px;
    font-size: 25px;
}

#span {
    font-size: 20px;
    color: brown;
}